* ,::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: #fff;
    color: black;
}

p, li, a, button{
    font-family: 'Noto';
}

h1, h2, h3 {
    font-family: 'Montserrat';
}

@font-face {
    font-family: 'Noto' ;
    src: url(../../Font/NotoSans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat' ;
    src: url(../../Montserrat/static/Montserrat-Regular.ttf);
}

